body{
    background-color: #61c0b5;

}
h1{
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
#container{
    position: relative;
    
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}
#value{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
}
.btn{
    
    font-size: x-large;
    font-weight: bold;
    
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #c3ebe6;

}
.btn:hover{
    background-color: #0f776b;
}